@use "./styles/mixins" as *;
@use "./styles/variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include text-preset-5;
    font-weight: 300;
    font-family: "Rubik", sans-serif;
    color: $white;
}

body {
    @include flex-column;
    gap: $spacing-400;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: $navy-950;
}

main {
    display: flex;
    gap: $spacing-400;
}

.card {
    border-radius: $spacing-300;
    width: 255px;
}

#profile {
    background: $navy-900;
}

#profile__info {
  @include flex-column;
  gap: $spacing-500;
  height: 354px;
  background: $purple-600;   
  border-radius: $spacing-300;
  padding: $spacing-400;

  h1 {
    @include flex-column;
    @include text-preset-2;

    span {
        @include text-preset-6;
        color: $navy-200;
    }
  }
}

#profile__picture img {
    height: 78px;
    width: 78px;
    border-radius: $spacing-500;
    border: 3px $white solid;
}

#profile__menu {
    @include flex-column;
    justify-content: flex-start;
    gap: $spacing-200;
    padding: $spacing-400;

    button {
        text-align: left;
        background: none;
        border: none;
        color: $purple-500;
        transition: color .2s;

        &:active, &:hover, &.active {
            color: $white;
        }
    }
}

#cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-400;
}

.card__header {
    height: 150px;
    margin-bottom: -105px;
    border-radius: $spacing-300;
    overflow: hidden;
    text-align: right;
    padding-right: $spacing-200;
}

#work-header {
    background: $orange-300;
}
#play-header {
    background: $blue-300;
}
#study-header {
    background: $pink-400;
}
#exercise-header {
    background: $green-400;
}
#social-header {
    background: $purple-700;
}
#self-care-header {
    background: $yellow-300;
}

.card__info {
    @include flex-column;
    gap: $spacing-300;
    height: 200px;
    padding: $spacing-400;
    border-radius: $spacing-300;
    background: $navy-900;
    position: relative;
    z-index: 99;
    transition: background .2s;

    &:hover {
        background: $navy-800;
    }
}

.card__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    h2 {
        font-weight: 500;
    }
}

.card__stats {
    @include flex-column;
}

.card__current-stat {
    @include text-preset-1;
}

.card__previous-stat {
    @include text-preset-6;
    color: $navy-200;
}

.attribution { 
    @include text-preset-6;
    text-align: center; 

    a {
        @include text-preset-6;
        text-decoration: none;
        color: $purple-500;
        transition: color .2s;

        &:hover {
            color: $navy-200;
        }
    }
}

@media screen and (max-width: 79.9rem) {
    main {
        flex-direction: column;
        width: 85%;
    }

    .card {
        width: 100%;
    }

    #profile {
        width: 100%;
    }

    #profile__info {
        height: auto;
        flex-direction: row;
        align-items: center;
    }

    #profile__menu {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: $spacing-500;
    }
}

@media screen and (max-width: 47.9rem) {
    body {
        height: auto;
        padding: $spacing-500 0;
    }
    #profile__info {
        h1 {
            @include text-preset-4;
        }
    }
    #profile__menu {
        gap: auto;
        justify-content: space-evenly;
    }
    #cards {
        @include flex-column;
    }
    .card__info {
        height: auto;
        gap: $spacing-100;
        padding: $spacing-300;
    }
    .card__stats {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .card__current-stat {
        @include text-preset-3;
    }
}