@use "./styles/mixins" as *;
@use "./styles/variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include text-style;
    color: $white;
}

body {
    @include flex-column;
    gap: $spacing-400;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: $navy-950;
}

main {
    display: flex;
    gap: $spacing-400;
}

.card {
    background: $navy-900;
    border-radius: $spacing-300;
    width: 255px;
}

#profile__info {
  @include flex-column;
  background: $purple-600;   
  border-radius: $spacing-300;

  h1 {
    @include flex-column;
    @include text-style($size: $spacing-500, $line-height: 47px);

    span {
        font-size: $spacing-200;
        color: $navy-200;
    }
  }
}

#profile__picture img {
    height: 78px;
    width: 78px;
    border-radius: $spacing-500;
    border: 3px $white solid;
}

#profile__menu {
    @include flex-column;
    justify-content: flex-start;
    gap: $spacing-200;

    button {
        text-align: left;
        background: none;
        border: none;
        color: $purple-500;
        transition: color .2s;

        &:active, &:hover {
            color: $white;
        }
    }
}

#cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-400;
}

.card__header {
    height: $spacing-400;
}

#work-header {
    background: $orange-300;
}
#play-header {
    background: $blue-300;
}
#study-header {
    background: $pink-400;
}
#exercise-header {
    background: $green-400;
}
#social-header {
    background: $purple-700;
}
#self-care-header {
    background: $yellow-300;
}
.card__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.card__stats {
    @include flex-column;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 

    a {
        color: hsl(228, 45%, 44%);
    }
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }
}

@media screen and (max-width: 345px) {
    #cards {
        @include flex-column;
    }
}