@use "./styles/mixins" as *;
@use "./styles/variables" as *;

@font-face {
    font-family: "Rubik";
    src: url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    color: $white;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: $navy-950;
}

main {
    display: flex;
}

.card {
    background: $navy-900;
    border-radius: $spacing-300;
}

#cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 

    a {
        color: hsl(228, 45%, 44%);
    }
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }
}