//Colors ------------

//Monochrome
$white: #FFFFFF;
$black: #000000;

//Navy
$navy-950: hsl(226, 43%, 10%);
$navy-900: hsl(235, 46%, 20%);
$navy-800: hsl(235, 41%, 34%);
$navy-200: hsl(236, 100%, 87%);

//Orange
$orange-300: hsl(15, 100%, 70%);

//Purple
$purple-700: hsl(264, 64%, 52%);
$purple-600: hsl(246, 80%, 60%);
$purple-500: hsl(235, 45%, 61%);

//Blue
$blue-300: hsl(195, 74%, 62%);

//Pink
$pink-400: hsl(348, 100%, 68%);

//Green
$green-400: hsl(145, 58%, 55%);

//Yellow
$yellow-300: hsl(43, 84%, 65%);

//Gray
$gray-200: hsl(0, 0%, 85%);


//Spacing ------------
$spacing-0: 0px;
$spacing-100: 8px;
$spacing-200: 16px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-500: 40px;

//Font sizes ------------
$fs-15: 0.9375rem;
$fs-18: 1.125rem;
$fs-24: 1.5rem;
$fs-32: 2rem;
$fs-40: 2.5rem;
$fs-56: 3.5rem;

//Line heights ------------
$lh-18: 1.125rem;
$lh-21: 1.313rem;
$lh-28: 1.75rem;
$lh-38: 2.375rem;
$lh-47: 2.938rem;
$lh-66: 4.125rem;